$color-primary: rgb(17, 24, 34);
$color-secondary: rgb(124, 157, 182);
$color-tertiary: rgb(243, 247, 250);

@font-face {
  font-family: Norse;
  src: url("../fonts/Norse-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  // font-size: 62.5%;
}

body {
  font-family: "Poppins";
  color: $color-primary;
}

h1 {
  font-family: "Norse";
}

a {
  text-decoration: none;
  color: $color-secondary;
}
