@mixin mq($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

.main__container {
  display: flex;
  width: 99vw;
  height: 100vh;
  @include mq(1100px) {
    width: 100vw;
    flex-direction: column;
  }
}

.image__container {
  position: relative;
  flex: 1 1;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  &__logo {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: white;
    height: 10vw;
    position: absolute;
    top: 12.5%;
    width: 100%;
    padding: 1rem;
    background-color: rgba($color-primary, 0.5);
    @include mq(1100px) {
      height: 30vw;
    }

    &--image {
      height: 100%;
      object-fit: contain;
      object-position: center bottom;
    }

    &--text {
      align-self: center;
      font-family: "Norse";
      font-size: 6.5vw;
      letter-spacing: 0.5rem;
      @include mq(1100px) {
        font-size: 20vw;
      }
    }
  }
}

.form {
  background-color: $color-tertiary;
  flex: 1.8 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__description {
    padding: 4rem;
    letter-spacing: 0.1px;
    line-height: 2.5rem;
    font-size: 2.1rem;
    font-weight: bold;
    width: 66rem;

    @include mq(1100px) {
      width: 85vw;
      padding: 2rem;
      overflow-wrap: break-word;
      align-items: center;
      text-align: center;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;

    &--title {
      display: flex;
      flex-direction: column;
      padding: 0rem 4rem;
      background-color: white;
      padding-top: 3rem;
      font-size: 2.3rem;
      font-weight: bold;
      @include mq(1100px) {
        text-align: center;
      }
    }

    &--data {
      display: flex;
      background-color: white;
    }
  }
}

.form__flex {
  padding: 3rem 4rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  flex-basis: 60%;

  @include mq(1350px) {
    flex-basis: 100%;
  }
  @include mq(1100px) {
    justify-content: center;
  }
}

.flex-form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20rem;
  max-width: 30rem;
  font-weight: bold;
  margin-right: 4rem;
  font-size: 1.4rem;
  box-shadow: 0px 11px 10px -15px #111;

  input {
    padding-left: 0.5rem;
    font-size: 1.6rem;
    width: 100%;
    height: 2.5rem;

    @include mq(1100px) {
      width: 25rem;
      height: 3rem;
      font-size: 2rem;
    }

    &:focus {
      border: none;
      outline: 3px solid $color-secondary;
    }
  }
}

.submit {
  background-color: $color-tertiary;
  padding: 2rem 4rem;
  @include mq(1100px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    font-family: "Poppins";
    letter-spacing: 0px;
    border: none;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 4rem;
    background-color: $color-primary;
    border-radius: 10px;
    cursor: pointer;
  }

  &--description {
    font-weight: bold;
    padding: 0 4rem;
    margin-bottom: 10rem;
    font-size: 1.6rem;
    @include mq(1100px) {
      text-align: center;
    }
  }
}

.error {
  outline: 2px solid rgb(185, 12, 12);
}

.error__block {
  padding: 0.2rem;
  color: rgb(185, 12, 12);
  font-size: 1.3rem;
  position: absolute;
  bottom: -2.6rem;
  display: none;
}

.warning__block {
  padding: 0.2rem;
  color: rgb(238, 194, 0);
  font-size: 2rem;
  position: absolute;
  bottom: -2.7rem;
  left: 2rem;
  display: none;
}
